body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

canvas {
    position: absolute;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
#stopBtn {
    margin-left: 1em;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
}